### Modulo: Python
### Nombre: Ivonne Bermeo

In [ ]:
import numpy as np 
import pandas as pd

Como primera parte se realiza la carga de los datos. En este caso, utilizamos la base de datos "felicidad.csv", que se accede a través del siguiente link de github:

In [48]:
datos=pd.read_csv("https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-08-07/felicidad.csv")
Df_datos =pd.DataFrame(datos)
Df_datos

,pais,anio,escalera_vida,log_pib,soporte_social,expectativa_vida,libertad,generosidad,percepcion_corrupcion,afecto_positivo,afecto_negativo,confianza,calidad_democracia,calidad_entrega,de_escalera_pais_anio,gini_banco_mundial,gini_banco_mundial_promedio
0,Afghanistán,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,0.258195,0.612072,-1.929690,-1.655084,1.774662,NaN,NaN
1,Afghanistán,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,0.237092,0.611545,-2.044093,-1.635025,1.722688,NaN,NaN
2,Afghanistán,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,0.275324,0.299357,-1.991810,-1.617176,1.878622,NaN,NaN
3,Afghanistán,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,0.267175,0.307386,-1.919018,-1.616221,1.785360,NaN,NaN
4,Afghanistán,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,0.267919,0.435440,-1.842996,-1.404078,1.798283,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1699,Zimbabue,2014,4.184451,7.562753,0.765839,52.380001,0.642034,-0.048634,0.820217,0.725214,0.239111,0.566209,-0.985267,-1.484067,2.079248,NaN,0.432
1700,Zimbabue,2015,3.703191,7.556052,0.735800,53.799999,0.667193,-0.097354,0.810457,0.715079,0.178861,0.590012,-0.893078,-1.357514,2.198865,NaN,0.432
1701,Zimbabue,2016,3.735400,7.538829,0.768425,54.400002,0.732971,-0.068105,0.723612,0.737636,0.208555,0.699344,-0.900649,-1.374650,2.776363,NaN,0.432
1702,Zimbabue,2017,3.638300,7.549491,0.754147,55.000000,0.752826,-0.069670,0.751208,0.806428,0.224051,0.682647,-0.988153,-1.350867,2.656848,NaN,0.432
1703,Zimbabue,2018,3.616480,7.553395,0.775388,55.599998,0.762675,-0.038384,0.844209,0.710119,0.211726,0.550508,NaN,NaN,2.498696,NaN,0.432

Se calcula la media y la desviación estándar a nivel global del primer y último año reportado. Para esto utilizamos la función min() en la columna "anio" para obtener el primer año. Luego, utilizamos la función max() en la columna "anio" para obtener el último año. Como se muestra en el siguiente código.

In [71]:
print("El primer año es:",Df_datos['anio'].min(), ", El último año es:",Df_datos['anio'].max())
datosfelicidad_2005 = Df_datos[(Df_datos['anio'] == 2005)]['escalera_vida']
datosfelicidad_2018 = Df_datos[(Df_datos['anio'] == 2018)]['escalera_vida']

El primer año es: 2005 , El último año es: 2018

In [167]:
print("La media de la felicidad a nivel global el primer año es:",round(np.mean(datosfelicidad_2005),3))
print("La desviacion estandar de la felicidad en el primer año es:",round(np.std(datosfelicidad_2005),3))
print("La media de la felicidad a nivel global en el último año es:",round(np.mean(datosfelicidad_2018),3))
print("La desviacion estandar de la felicidad en el último año es:",round(np.std(datosfelicidad_2018),3))

La media de la felicidad a nivel global el primer año es: 6.446
La desviacion estandar de la felicidad en el primer año es: 0.902
La media de la felicidad a nivel global en el último año es: 5.502
La desviacion estandar de la felicidad en el último año es: 1.099

In [ ]:
A continuación, se raliza la comparación de felicidad entre Finlandia y Ecuador del primer y último año reportado. Para esto, 
primero filtramos los datos por anio y pais (Finlandia) para luego guardar este nuevo data set en una variable. En esta 
varible calculamos el min() y el max() de la columna "anio" para obter el primer y último año reporatdo respectivamente.

In [147]:
AnioF=Df_datos[['anio']][Df_datos['pais'] == 'Finlandia']
print("El primer año reportado en Finlandia es:", AnioF['anio'].min(),", El último año reportado en Finlandia es:",AnioF['anio'].max())

El primer año reportado en Finlandia es: 2006 , El último año reportado en Finlandia es: 2018

In [165]:
FelicidadFinlandia_2006=Df_datos[(Df_datos['anio']==2006)&(Df_datos['pais'] == 'Finlandia')]['escalera_vida']
FelicidadFinlandia_2018=Df_datos[(Df_datos['anio']==2018)&(Df_datos['pais'] == 'Finlandia')]['escalera_vida']

In [166]:
print("La felicidad en Finlandia en el año 2006 es:",FelicidadFinlandia_2006.iloc[0])
print("La felicidad en Finlandia en el año 2018 es:",FelicidadFinlandia_2018.iloc[0])

La felicidad en Finlandia en el año 2006 es: 7.672449111938477
La felicidad en Finlandia en el año 2018 es: 7.858107089996338

In [ ]:
Se realiza el mismo proceso aplicado anteriormente para obtener el primer y último año reportado para Ecuador.

In [148]:
AnioE=Df_datos[['anio']][Df_datos['pais'] == 'Ecuador']
print("El primer año reportado en Ecuador es:", AnioE['anio'].min(),", El último año reportado en Ecuador es:",AnioE['anio'].max())

El primer año reportado en Ecuador es: 2006 , El último año reportado en Ecuador es: 2018

In [149]:
FelicidadEcuador_2006=Df_datos[(Df_datos['anio']==2006)&(Df_datos['pais'] == 'Ecuador')]['escalera_vida']
FelicidadEcuador_2018=Df_datos[(Df_datos['anio']==2018)&(Df_datos['pais'] == 'Ecuador')]['escalera_vida']

In [150]:
print("La felicidad en Ecuador en el año 2006 es:",FelicidadEcuador_2006.iloc[0])
print("La felicidad en Ecuador en el año 2018 es:",FelicidadEcuador_2018.iloc[0])

La felicidad en Ecuador en el año 2006 es: 5.024191379547119
La felicidad en Ecuador en el año 2018 es: 6.128010272979736

In [ ]:
Podemos concluir que:
- Finlandia superó la media de felicidad el primer año reportado a comparación con el promedio a nivel 
  global. Siendo que, el promedio el primer año a nivel global fue de 6.446 y el de Finlandia de 7.672. 

- Ecuador no superó la media de Felicidad el primer año reportado a comparación con el promedio a nivel 
  global. Siendo que, el promedio el primer año a nivel global fue de 6.446 y el de Ecuador de 5.024.

- Finlandia superó la media de felicidad el último año reportado a comparación con el promedio a nivel 
  global. Siendo que, el promedio del último año a nivel global fue de 5.5 y el de Finlandia de 7.858. 
    
- Ecuador superó la media de Felicidad el último año reportado a comparación con el promedio a nivel 
  global. Siendo que, el promedio del último año a nivel global fue de 5.5 y el de Ecuador de 6.128.